Tarjeta_universal/Debug/makedep.mk
Tarjeta_universal/Debug/Makefile
Tarjeta_universal/Debug/Tarjeta_universal.bin
Tarjeta_universal/Debug/Tarjeta_universal.eep
Tarjeta_universal/Debug/Tarjeta_universal.elf
Tarjeta_universal/Debug/Tarjeta_universal.hex
Tarjeta_universal/Debug/Tarjeta_universal.lss
Tarjeta_universal/Debug/Tarjeta_universal.map
Tarjeta_universal/Debug/Tarjeta_universal.srec
Tarjeta_universal/Debug/src/Encoder.d
Tarjeta_universal/Debug/src/Encoder.o
Tarjeta_universal/Debug/src/main.d
Tarjeta_universal/Debug/src/main.o
Tarjeta_universal/Debug/src/uart_custom.d
Tarjeta_universal/Debug/src/uart_custom.o
Tarjeta_universal/Debug/src/ASF/common/services/clock/sam3x/sysclk.d
Tarjeta_universal/Debug/src/ASF/common/services/clock/sam3x/sysclk.o
Tarjeta_universal/Debug/src/ASF/common/utils/interrupt/interrupt_sam_nvic.d
Tarjeta_universal/Debug/src/ASF/common/utils/interrupt/interrupt_sam_nvic.o
Tarjeta_universal/Debug/src/ASF/sam/boards/arduino_due_x/init.d
Tarjeta_universal/Debug/src/ASF/sam/boards/arduino_due_x/init.o
Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio_handler.d
Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio_handler.o
Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio.d
Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio.o
Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/pmc.d
Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/pmc.o
Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/sleep.d
Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/sleep.o
Tarjeta_universal/Debug/src/ASF/sam/drivers/tc/tc.d
Tarjeta_universal/Debug/src/ASF/sam/drivers/tc/tc.o
Tarjeta_universal/Debug/src/ASF/sam/drivers/uart/uart.d
Tarjeta_universal/Debug/src/ASF/sam/drivers/uart/uart.o
Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/exceptions.d
Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/exceptions.o
Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/system_sam3x.d
Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/system_sam3x.o
Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/gcc/startup_sam3x.d
Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/gcc/startup_sam3x.o
Tarjeta_universal/Debug/src/ASF/sam/utils/syscalls/gcc/syscalls.d
Tarjeta_universal/Debug/src/ASF/sam/utils/syscalls/gcc/syscalls.o
