Tarjeta_universal_firmware/Tarjeta_universal/Debug/makedep.mk
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Makefile
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.bin
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.eep
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.elf
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.hex
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.lss
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.map
Tarjeta_universal_firmware/Tarjeta_universal/Debug/Tarjeta_universal.srec
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/encoder.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/encoder.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/main.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/main.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/OLED_SSD1306.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/OLED_SSD1306.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/uart_custom.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/uart_custom.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/common/services/clock/sam3x/sysclk.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/common/services/clock/sam3x/sysclk.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/common/utils/interrupt/interrupt_sam_nvic.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/common/utils/interrupt/interrupt_sam_nvic.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/boards/arduino_due_x/init.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/boards/arduino_due_x/init.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio_handler.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio_handler.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pio/pio.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/pmc.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/pmc.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/sleep.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/pmc/sleep.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/tc/tc.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/tc/tc.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/twi/twi.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/twi/twi.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/uart/uart.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/drivers/uart/uart.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/exceptions.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/exceptions.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/system_sam3x.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/system_sam3x.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/gcc/startup_sam3x.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/cmsis/sam3x/source/templates/gcc/startup_sam3x.o
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/syscalls/gcc/syscalls.d
Tarjeta_universal_firmware/Tarjeta_universal/Debug/src/ASF/sam/utils/syscalls/gcc/syscalls.o
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-05-24_220932.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-08_002521.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-08_005356.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-14_071251.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-15_000943.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-15_001450.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-16_220456.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-16_221134.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-16_221737.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-16_222622.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-19_211101.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-19_213420.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-19_214433.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-19_221132.zip
Tarjeta_universal_pcb/Tarjeta_universal_pcb-backups/Tarjeta_universal_pcb-2025-06-19_221946.zip
Tarjeta_universal_pcb/fp-info-cache
Tarjeta_universal_pcb/Tarjeta_universal_pcb.kicad_prl
